@page "/signupmaintenance"
@model HouseCare.Pages.SignupMaintenance.SignUpModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/MaintenancePersonnel/SignUp.css">

</head>
<body>
    <div class="container">

        <div class="row">
            <div class="col-lg-9 mx-auto rounded border p-3">
                <h2 style="padding:15px; text-align:center; color: #db3e7c;">Sign Up </h2>
                <form method="post">
                    <div class="firstname" style="margin:10px;">
                        <label class="myfirstname" style="padding:10px;">First name *</label>
                        <input type="text" class="firstnamebox" required />
                    </div>

                    <div class="lastname" style="margin:10px;">
                        <label class="mylastname" style="padding:10px;">Last name *</label>
                        <input type="text" class="lastnamebox" required />
                    </div>

                    <div class="email" style="margin:10px;">
                        <label class="myemail" style="padding:10px;">Email Address *</label>
                        <input type="email" class="emailbox" required />
                    </div>

                    <div class="phone" style="margin:10px;">
                        <label class="myphone" style="padding:10px;">Phone No. *</label>
                        <input type="tel" class="phonebox" required />
                    </div>

                    <div class="proficiency" style="margin:10px;">
                        <label class="myproficiency" style="padding:10px;">Field of proficiency *</label>
                        <select class="prof">
                            <option>Plumbing</option>
                            <option>Electricity</option>
                            <option>AC conditioner</option>
                            <option>Refrigerators</option>
                            <option>Stove</option>
                            <option>Carpentary</option>

                        </select>
                    </div>

                    <div class="operations" style="margin:10px;">
                        <label class="myoperations" style="padding:10px;">Areas of operation *</label>
                        <input type="text" class="areabox" placeholder=" Enter areas of operation seperated by commas " required />
                    </div>

                    <div class="password" style="margin:10px;">
                        <label class="mypassword" style="padding:10px;">Password *</label>
                        <input type="password" class="passwordbox" required />
                    </div>

                    <div class="place" style="margin:10px;">
                        <label class="mycountry" style="padding:10px;">Country *</label>
                        <input type="text" class="countrybox" required />

                        <label class="mycity" style="padding:10px;">City *</label>
                        <input type="text" class="citybox" required />

                        <label class="mystreet" style="padding:10px;">Street *</label>
                        <input type="text" class="streetbox" required />

                    </div>

                    <div class="button">
                        <button type="submit" class="btn">Create account </button>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger no-bullet" style="width:300px; ">
                    </div>
                    <style>
                        .no-bullet ul, .no-bullet ol {
                            list-style: none;
                        }
                    </style>
                </form>
                <p class="login">Already have an account ? <a id="log" href="/login"> Login</a></p>
            </div>
        </div>

    </div>
</body>
</html>