
HouseCare/obj/Release/net7.0/HouseCare.RazorAssemblyInfo.cache
HouseCare/obj/Release/net7.0/HouseCare.GeneratedMSBuildEditorConfig.editorconfig
HouseCare/obj/Release/net7.0/HouseCare.GlobalUsings.g.cs
HouseCare/obj/project.assets.json
HouseCare/obj/project.nuget.cache
HouseCare/obj/Release/net7.0/HouseCare.AssemblyInfo.cs
HouseCare/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
HouseCare/obj/HouseCare.csproj.nuget.g.props
HouseCare/obj/HouseCare.csproj.nuget.g.targets
HouseCare/obj/Debug/net7.0/staticwebassets.build.json
HouseCare/obj/Debug/net7.0/staticwebassets.development.json
HouseCare/obj/Debug/net7.0/staticwebassets/msbuild.build.HouseCare.props
HouseCare/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.HouseCare.props
HouseCare/obj/Debug/net7.0/staticwebassets/msbuild.HouseCare.Microsoft.AspNetCore.StaticWebAssets.props
HouseCare/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.HouseCare.props
