@page "/maintenancerequestdetails"
@model HouseCare.Pages.MaintenancePersonnel.MaintenanceRequestDetailsModel

<div>
    <h2>Maintenance Request Details</h2>
    <p>ID: @Model.Request.Id</p>
    <p>Name: @Model.Request.City</p>
    <p>Date: @Model.Request.AssignedDate</p>


</div>
