@page "/MaintenanceServices"
@model HouseCare.Pages.Guest.MaintenanceServicesModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/Guest/MaintenanceServices.css">

</head>
<body>
    <div class="subcontainer">
        <p>
            We Provide all types of maintenance services with best quality. Our services include preventive maintenance, corrective maintenance, and predictive maintenance.
            We also provide equipment installation.<br />
        </p>
        <p style="font-size:25px; color:dimgrey;">Here are our maintenance services</p>
    </div>

    <div id="slider">
        <div  class="service ">
            <a href="/Index">
                <img id="overlap" src="~/Assets/Images/plumbing-banner-set-flat-style-vector.png.png" />
            </a>
            <div class="text">
                <p class="paragraph">
                    we provide top-quality plumbing services with latest technologies including drain cleaning , pipe repair and replacement , water heater installation , fixing sinks , toilets and showers
                </p>
            </div>
        </div>

        <div class="service">
            <a href="/Index">
                <img id="overlap" src="~/Assets/Images/plumbing-banner-set-flat-style-vector.png (1).png" />
            </a>
            <div class="text">
                <p class="paragraph">
                    we provide top-quality electricity maintenance services including routine maintenace , fixing wiring issues and circuit breakers problems , intallation of new electrical components such as: switches, panels and outlets

                </p>
            </div>
        </div>

        <div class="service ">
            <a href="/Index">
                <img id="overlap" src="~/Assets/Images/plumbing-banner-set-flat-style-vector copy.png.png" />
            </a>
            <div class="text">
                <p class="paragraph">
                    we provide top-quality AC conditioner maintenance services including cleaning  , lubricating and inspecting for any potenital problems , we also provide  installation of new AC conditioners.
                </p>
            </div>
        </div>

        <div class="service">
            <a href="/Index">
                <img id="overlap" src="~/Assets/Images/plumbing-banner-set-flat-style-vector copy.png (1).png" />
            </a>
            <div class="text">
                <p class="paragraph">
                    we provide top-quality Refrigerators maintenance services including
                    cleaning  , lubricating and inspecting for any potenital problems , we also
                    provide  installation of new refrigerators.
                </p>
            </div>
        </div>

        <div class="service">
            <a href="/Index">
                <img id="overlap" style="margin-top:1%;" src="~/Assets/Images/carpentery.jpg (1).png" />
            </a>
            <div class="text">
                <p class="paragraph">
                    we provide top-quality Carpentry maintenance services including
                    fixing and inspecting for any potenital problems , we also
                    provide making new furniture.
                </p>
            </div>
        </div>

        <div class="service">
            <a href="/Index">
                <img id="overlap" style="margin-top:1%;" src="~/Assets/Images/shutterstock_376837156-min.jpg.png" />
            </a>
            <div class="text">
                <p class="paragraph">
                    we provide top-quality painting services including
                    painting walls and ceiling and inspecting for any potenital problems.
                </p>
            </div>
        </div>

        <div class="service">
            <a href="/Index">
                <img id="overlap" style="margin-top:1%;" src="~/Assets/Images/02-1.jpg.png" />
            </a>
            <div class="text">
                <p class="paragraph">
                    we provide top-quality Stove maintenance services including
                    cleaning  , lubricating and inspecting for any potenital problems , we also
                    provide  installation of new Stoves.
                </p>
            </div>
        </div>

        <div class="service">
            <a href="/Index">
                <img id="overlap" style="margin-top:1%;"  src="~/Assets/Images/download.jpg.png" />
            </a>
            <div class="text">
                <p class="paragraph">
                    we provide top-quality Dishwasher maintenance services including
                    cleaning  , lubricating and inspecting for any potenital problems , we also
                    provide  installation of new dishwashers.
                </p>
            </div>
        </div>

        <div class="service">
            <a href="/Index">
                <img id="overlap" style="margin-top:1%;" src="~/Assets/Images/appliance-repair-1024x617.jpg.png" />
            </a>
            <div class="text">
                <p class="paragraph">
                    we provide top-quality washing machines maintenance services including
                    cleaning  , lubricating and inspecting for any potenital problems , we also
                    provide  installation of new washing machines.
                </p>
            </div>
        </div>

        <div class="service">
            <a href="/Index">
                <img id="overlap" style="margin-top:1%;" src="~/Assets/Images/ELECTRICHEATER1.jpg.png" />
            </a>
            <div class="text">
                <p class="paragraph">
                    we provide top-quality electric heater maintenance services including
                    cleaning  , lubricating and inspecting for any potenital problems , we also
                    provide  installation of new electric heaters.
                </p>
            </div>
        </div>

        <div class="service">
            <a href="/Index">
                <img id="overlap" style="margin-top:1%;"  src="~/Assets/Images/1.jpg.png" />
            </a>
            <div class="text">
                <p class="paragraph">
                    we provide top-quality dryer maintenance services including
                    fixing and inspecting for any potenital problems , we also
                    provide  installation of new dryers.
                </p>
            </div>
        </div>

        <div class="service">
            <a href="/Index">
                <img id="overlap" style="margin-top:1%;" src="~/Assets/Images/micro.jpg.png" />
            </a>
            <div class="text">
                <p class="paragraph">
                    we provide top-quality microwave maintenance services including
                    cleaning  , lubricating and inspecting for any potenital problems , we also
                    provide  installation of new microwaves.
                </p>
            </div>
        </div>

        <div class="service">
            <a href="/Index">
                <img id="overlap" style="margin-top:1%;" src="~/Assets/Images/ContractorWH1RGB-new.png.png" />
            </a>
            <div class="text">
                <p class="paragraph">
                    we provide top-quality water heater maintenance services including
                    cleaning  , lubricating and inspecting for any potenital problems , we also
                    provide  installation of new water heaters.
                </p>
            </div>
        </div>

        <div class="service">
            <a href="/Index">
                <img id="overlap" style="margin-top:1%;" src="~/Assets/Images/Ceiling-Fan-Installation-repair.jpg.png" />
            </a>
            <div class="text">
                <p class="paragraph">
                    we provide top-quality ceiling fans maintenance services including
                    cleaning  , fixing and inspecting for any potenital problems , we also
                    provide  installation of new ceiling fans.
                </p>
            </div>
        </div>

        <div class="service">
            <a href="/Index">
                <img id="overlap" style="margin-top:1%;"  src="~/Assets/Images/furniture-repair-service-book.jpg.png" />
            </a>
            <div class="text">
                <p class="paragraph">
                    we provide top-quality wood repairs services including
                    fixing and inspecting for any potenital problems.
                </p>
            </div>
        </div>
    </div>
    <div style="text-align:center; margin-left:15%; margin-top:3%;">
        <span class="dot" onclick="showSlide(1)"></span>
        <span class="dot" onclick="showSlide(2)"></span>
        <span class="dot" onclick="showSlide(3)"></span>
        <span class="dot" onclick="showSlide(4)"></span>
        <span class="dot" onclick="showSlide(5)"></span>
    </div>

</body>
</html>

 <script>
    let currentSlide = 1;
    const services = document.querySelectorAll('.service');
    const dots = document.querySelectorAll('.dot');

    function showSlide(slide) {
        services.forEach(service => service.style.display = 'none');
        dots.forEach(dot => dot.classList.remove('active'));
        if(slide==1)
        {
            for (i = 0; i < 3; i++) {
                services[i].style.display = 'flex';
            }
            dots[slide - 1].classList.add('active');
        }
        else if (slide==2)
        {
            for (i = 3; i < 6; i++) {
                services[i].style.display = 'flex';
            }
            dots[slide - 1].classList.add('active');
        }
        else if(slide==3)
        {
            for (i = 6; i < 9; i++) {
                services[i].style.display = 'flex';
            }
            dots[slide - 1].classList.add('active');
        }
        else if (slide==4)
        {
            for (i = 9; i < 12; i++) {
                services[i].style.display = 'flex';
            }
            dots[slide - 1].classList.add('active');
        }
        else 
        {
            for (i = 12; i < 15; i++) {
                services[i].style.display = 'flex';
            }
            dots[slide - 1].classList.add('active');
        }
    }

    showSlide(currentSlide);

 </script>