@page "/NoAvailablePersonnel"
@model HouseCare.Pages.Guest.NoAvailablePersonnelModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/Guest/NoAvailablePersonnel.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="subcontainer">
        <p>Sorry for the inconvenience!</p>
        <p>
            Unfortunatly there are no available maintenance personnel for your service now. You can submit another request later <br />
        </p>
        <div class="requestdiv">
            <a class="requestbtn" href="/MaintenanceRequest">Back to request form</a>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <!-- Sidebar -->
                <div class="sidenav">
                    <a href="/MaintenanceServices">Home Page</a>
                </div>
            </div>
        </div>
    </div>

    
</body>
</html>
