* {
    margin: 0;
    padding: 0;
}

.subcontainer {
    padding-left: 10%;
    padding-top: 10%;
    width: 90%;
    margin-left: 15%;
}

p {
    color: grey;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: #e2e2e2;
    overflow-x: hidden;
    padding-top: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.sidenav a {
  padding-top: 70%;
  padding-left: 7%;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  color: #db3e7c;
  display: block;
}
.formimage{
   margin-left:30%;
   top:17%;
   position:absolute;
}

.formrec {
    width:52%;
    margin-top: 3%;
    margin-left: 8%;
    top: 19%;
    position: absolute;
}


.row{
    margin-top:10%;
}
h6 ,h5{
    margin-top:5%;
    text-align: center;
    color: #db3e7c;
}
.button {
    margin-left: 40%;
    margin-top: 5%;
}
.btn {
    color: white;
    background-color: #db3e7c;
}

