* {
    margin: 0;
    padding: 0;
}

.subcontainer {
    padding:10px;
    width: fit-content;
    margin-top:14%;
    margin-left: 50%;
    background-color: #e2e2e2;
    border-radius:20px;
}

p {
    color: #db3e7c;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}
.container{
    margin-top:7%;
    margin-left:22%;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: #e2e2e2;
    overflow-x: hidden;
    padding-top: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.sidenav a {
  padding-top: 70%;
  padding-left: 20%;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  color: #db3e7c;
  display: block;
}
.table {
    transition: transform 0.3s;
}
.table:hover{
    transform: scale(1.1);
}