body {
    background: linear-gradient(to bottom, #ffffff, #d9d9d9);
}
.container {
    margin-left: 20px;
    margin-top: 10%;
}
h2 {
    color: #db3e7c;
    font-weight:700;
    font-size:28px;
}
p{
    color:black;
    font-size:17px;
    font-weight:500;
}
h3 {
    color: #db3e7c;
    font-size: 22px;
    font-weight: 700;
}
li {
    color: black;
    font-size: 15px;
    font-weight: 500;
}
.btn {
    text-decoration: none;
    color: #db3e7c;
    padding: 0px 8px 6px 12px;
    margin: 23px 0px 23px 0px;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    border-radius: 20px;
    width: 350px;
    height: 40px;
    font-weight: 600;
    border-color: #db3e7c;
}
.btn:hover {
    color: #db3e7c;
}
.signmaintenance{
    display: flex;
    justify-content: center;
}