* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.subcontainer {
    padding-left: 10%;
    padding-top: 12%;
    width: 90%;
    margin-left: 18%;
}

p {
    color: grey;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

.sidenav {
    height: 100vh;
    width: 200px;
    background-color: #f5f5f5;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
}

    .sidenav a {
        display: block;
        padding-top: 100px;
        padding-left: 30px;
        padding-bottom: 10px;
        font-weight: 700;
        text-decoration: none;
        color: #db3e7c;
    }

        .sidenav a:hover {
            background-color: #ddd;
            text-decoration: none;
            color: #db3e7c;
        }

h2 {
    margin-top: 5%;
    text-align: center;
    color: #db3e7c;
    font-weight:bold;
}

.button {
    margin-left: 40%;
    margin-top: 5%;
}
 #citySelect option {
    padding: 10px; 
}
.btn {
    color: white;
    background-color: #db3e7c;
}

.contact {
    width: 100%;
}

.custom-button {
    background-color: #db3e7c;
}

.custom-forms {
    margin: 0;
    padding: 0;
}
#log, #log:hover {
    color: #db3e7c;
    text-decoration: none;
    font-weight:bold;
}